{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<p>{{ post.author.user }}</p>
<p>{{ user }}</p>
<h1>{{ post.title }}</h1>
<p>{{ post.text|safe }}</p>
<p>{{ post.time_in}}</p>
<h3>Accepted Comments:</h3>
<ul>
    {% for comment in accepted_comments %}
        <li>{{ comment.text }} - by {{ comment.created_by.username }}</li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <h3>Your Comments:</h3>
    <ul>
        {% for comment in user_comments %}
            <li>
                {{ comment.text }} - by {{ comment.created_by.username }}
                {% if not comment.accept %}
                    (Not accepted)
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>
{% if user == post.author.user %}
<button><a href="{% url 'post_update' post.id %}">Изменить</a></button>
<button><a href="{% url 'post_delete' post.id %}">Удалить</a></button>
{% endif %}
{% endblock content %}